{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="post">
        {% csrf_token %}<!--This is tag to add security which will protect out form from certain attacks  and it is mandatory to put-->
        
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Login
            </legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
             
              <a href="{% url 'password_reset' %}" class="'ml-2">Forgot password</a>
          </small>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Need an account?
            <a href="{% url 'register' %}" class="'ml-2">Signup</a>
        </small>
      </div>
    
    </div>
{% endblock content %}
